
<div id="myModal" class="modal fade" data-backdrop="false" offline-model="online" role="dialog">
    <div class="modal-dialog" style="background-color: white;!important;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <span>{{offlineCtrl.connectionMsg}}</span>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>